<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Google Charts Example - Spring Boot</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script type="text/javascript"
            src="https://www.gstatic.com/charts/loader.js"></script>
</head>
<body>
<div align="center" style="width: 1000px;">

    <h2>Load Diagram</h2>

    <form class="centered">
        <select name="source" id="2" th:value="${previous}">

            <option selected>---</option>
            <option value="CSV1">CSV1-Da+Db</option>
            <option value="CSV2">CSV2-Dd+De</option>

            <input class="join-button" type="submit">
            <div id="chart_div"></div>
</div>
<script th:inline="javascript">
        var real_data = /*[[${chartData}]]*/'noValue';
        $(document).ready(function() {
            google.charts.load('current', {
                packages : [ 'corechart', 'bar' ]
            });
            google.charts.setOnLoadCallback(drawColumnChart);
        });
        function drawColumnChart() {
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Full hours');
            data.addColumn('number', 'prices');
            data.addColumn({type: 'string', role: 'tooltip'});
            Object.keys(real_data).forEach(function(key) {
                data.addRow([ key, real_data[key], 'test' ]);
            });
            var options =
            {
            legend : 'none',
            hAxis : {
            title : 'Full hours',
                },
            vAxis : {
            title : 'prices'
                }
        };

        var chart = new google.visualization.LineChart(document
            .getElementById('chart_div'));
            chart.draw(data, options);
        }

</script>
</body>
</html>