<html>

<head>

</head>

<body>

<form>

<select name="input" id="2" th:value="${previous}">

    <option selected>---</option>
    <option value="CSV1">CSV1-Da+Db</option>
    <option value="CSV2">CSV2-Dd+De</option>

    <input class="button" type="submit" >
</select>
</form>
    <table>
        <tr>
          <th>Month</th>
          <th>Usage in kWh</th>
          <th>Fixed Price</th>
          <th>Variable Price</th>
          <th>Difference</th>
        </tr>
        <tr th:each="month : ${months}">
          <td th:text="${month.monthName}"></td>
            <td th:text="${month.usage}"></td>
            <td th:text="${month.fixedCost}"></td>
            <td th:text="${month.variableCost}"></td>
            <td th:text="${month.difference}"></td>
        </tr>
    </table>
</body>
</html>