<html>

<head>
  <script src="https://cdn.tailwindcss.com"></script>
    <title>Energy Analyzer</title>
</head>

<body>

<nav class="flex items-center justify-between flex-wrap bg-teal-500 p-6">
    <div class="flex items-center flex-shrink-0 text-white mr-6">
        <svg class="fill-current h-8 w-8 mr-2" width="54" height="54" viewBox="0 0 54 54" xmlns="http://www.w3.org/2000/svg"><path d="M13.5 22.1c1.8-7.2 6.3-10.8 13.5-10.8 10.8 0 12.15 8.1 17.55 9.45 3.6.9 6.75-.45 9.45-4.05-1.8 7.2-6.3 10.8-13.5 10.8-10.8 0-12.15-8.1-17.55-9.45-3.6-.9-6.75.45-9.45 4.05zM0 38.3c1.8-7.2 6.3-10.8 13.5-10.8 10.8 0 12.15 8.1 17.55 9.45 3.6.9 6.75-.45 9.45-4.05-1.8 7.2-6.3 10.8-13.5 10.8-10.8 0-12.15-8.1-17.55-9.45-3.6-.9-6.75.45-9.45 4.05z"/></svg>
        <span class="font-semibold text-xl tracking-tight">Energy Analyzer</span>
    </div>
    <div class="block lg:hidden">
        <button class="flex items-center px-3 py-2 border rounded text-teal-200 border-teal-400 hover:text-white hover:border-white">
            <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/></svg>
        </button>
    </div>
    <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
        <div class="text-sm lg:flex-grow">
            <a href="/forecast/" class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-4">
                Switch to Forecaster
            </a>
            
        </div><div>
              <a href="/upload" class="inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-teal-500 hover:bg-white mt-4 lg:mt-0">Upload your own CSV file</a>
            </div>
    </div>
</nav>
<div class="flex justify-center items-stretch">
<div class="flex justify-center items-stretch">
  

<form class="justify-center justify-center flex-auto align-items">

<select class="justify-center justify-center flex-auto align-items my-2 w-1/4 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" name="source" id="2" th:value="${previous}">

    <option selected>---</option>
    <option th:each="option : ${options}" th:value="${option}" th:text="${option}"></option>
    <input class="my-2 bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow" type="submit" >
</select>
</form>
</div></div>
<div class="flex justify-center">

    <table class="justify-center w-2/3 overflow-x-auto relative shadow-md sm:rounded-lg w-full text-sm text-left text-gray-500">
        <tr class="text-xs text-gray-700 uppercase bg-gray-50">
          <th scope="col" class="py-3 px-6">Month</th>
          <th scope="col" class="py-3 px-6">Usage in kWh</th>
          <th scope="col" class="py-3 px-6">Fixed Price</th>
          <th scope="col" class="py-3 px-6">Variable Price</th>
          <th scope="col" class="py-3 px-6">Difference</th>
        </tr>
        <tr class="bg-white border-b hover:bg-gray-200" th:each="month : ${months}">
          <td class="py-4 px-6 hover:{bg-lightgrey}" th:text="${month.monthName}"></td>
            <td class="py-4 px-6 hover:{bg-lightgrey}" th:text="${month.usage}"></td>
            <td class="py-4 px-6 hover:{bg-lightgrey}" th:text="${month.fixedCost}"></td>
            <td class="py-4 px-6 hover:{bg-lightgrey}" th:text="${month.variableCost}"></td>
            <td class="py-4 px-6 hover:{bg-lightgrey}" th:text="${month.difference}"></td>
        </tr>
    </table>
</div>
<div class="flex justify-center">
    <p class="justify-center">Fixed Price is calculated with 0.276 Euro per kWh and Variable Price is calculated with Awattar API data.</p>
  </div>
  </body>

<style>
  .centerDiv {
display: flex;
justify-content: center;
align-items: center;
}
</style>



</html>